---
import Layout from "../layouts/Layout.astro"
import logo2 from "../images/logo2.png"

---

<Layout title="Industries | Trillium">
    <div class="h-[40vh] md:h-[60vh] bg-[url('/src/images/solutions.jpg')] bg-[#0003] bg-blend-darken bg-cover bg-center">
    </div>
    <div class="flex justify-center items-center py-5 md:py-8">
        <img class="w-24 md:w-36" src={logo2} alt="">
        <h2 class="text-[1.3rem] md:text-4xl font-bold pr-4 md:pr-0">Our Industries</h2>
    </div>
    <div class="max-w-[1200px] mx-auto grid md:grid-cols-2 lg:grid-cols-3 px-6 gap-10 sm:gap-6 py-12 md:py-16">
        <div class="flex flex-col justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg">
            <div class="h-56 w-full bg-[url('/src/images/i1.jpg')] bg-center bg-no-repeat bg-cover"></div>
            <h4 class="text-[1.32rem] md:text-2xl text-semibold py-8 md:py-12 text-center">HEALTHCARE & LIFE SCIENCE</h4>
        </div>
        <div class="flex flex-col justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg">
            <div class="h-56 w-full bg-[url('/src/images/i2.jpg')] bg-center bg-no-repeat bg-cover"></div>
            <h4 class="text-[1.32rem] md:text-2xl text-semibold py-8 md:py-12 text-center">TRAVEL & HOSPITALITY</h4>
        </div>
        <div class="flex flex-col justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg">
            <div class="h-56 w-full bg-[url('/src/images/i3.jpg')] bg-center bg-no-repeat bg-cover"></div>
            <h4 class="text-[1.32rem] md:text-2xl text-semibold py-8 md:py-12 text-center">RETAIL & ECOMMERCE</h4>
        </div>
        <div class="flex flex-col justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg">
            <div class="h-56 w-full bg-[url('/src/images/i4.jpg')] bg-center bg-no-repeat bg-cover"></div>
            <h4 class="text-[1.32rem] md:text-2xl text-semibold py-8 md:py-12 text-center">EDUCATION & ELEARNING</h4>
        </div>
        <div class="flex flex-col justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg">
            <div class="h-56 w-full bg-[url('/src/images/i5.jpg')] bg-center bg-no-repeat bg-cover"></div>
            <h4 class="text-[1.32rem] md:text-2xl text-semibold py-8 md:py-12 text-center">FINANCE &
                BANKING</h4>
        </div>
        <div class="flex flex-col justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg">
            <div class="h-56 w-full bg-[url('/src/images/i6.jpg')] bg-center bg-no-repeat bg-cover"></div>
            <h4 class="text-[1.32rem] md:text-2xl text-semibold py-8 md:py-12 text-center">MANUFACTURING & INDUSTRIAL</h4>
        </div>
        <div class="flex flex-col justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg">
            <div class="h-56 w-full bg-[url('/src/images/i8.jpg')] bg-center bg-no-repeat bg-cover"></div>
            <h4 class="text-[1.32rem] md:text-2xl text-semibold py-8 md:py-12 text-center">MEDIA & ENTERTAINMENT</h4>
        </div>
        <div class="flex flex-col justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg">
            <div class="h-56 w-full bg-[url('/src/images/i10.jpg')] bg-center bg-no-repeat bg-cover"></div>
            <h4 class="text-[1.32rem] md:text-2xl text-semibold py-8 md:py-12 text-center">TECHNOLOGY</h4>
        </div>
        <div class="flex flex-col justify-center items-center gap-2 border-[1px] border-[#0001] shadow-lg">
            <div class="h-56 w-full bg-[url('/src/images/i11.jpg')] bg-center bg-no-repeat bg-cover"></div>
            <h4 class="text-[1.32rem] md:text-2xl text-semibold py-8 md:py-12 text-center">ENERGY</h4>
        </div>
    </div>
</Layout>