---
import logo2 from "../images/logo2.png"
---

<footer>
    <div class="bg-[#f8f8f8]">
        <div class="max-w-[1100px] mx-auto flex flex-col md:flex-row justify-between md:items-center gap-8 py-4 pb-8">
            <div class="flex items-center justify-around">
                <img class="w-24 md:w-36" src={logo2} alt="">
                <h2 class="text-xl md:text-2xl font-bold pr-4 md:pr-0">TRILLIUM AT A GLANCE</h2>
            </div>
            <div class="px-16 md:px-0 text-xl font-semibold text-[#5ebde7]">
                <p>1400+</p>
                <p>EMPLOYEES</p>
            </div>
            <div class="px-16 md:px-0 text-xl font-semibold text-[#5ebde7]">
                <p>85+</p>
                <p>FORTUNE 500</p>
                <p>CLIENTS</p>
            </div>
            <div class="px-16 md:px-0 text-xl font-semibold text-[#5ebde7]">
                <p>15 YEARS</p>
                <p>ENTERPRISE BUSINESS</p>
                <p>OPERATIONS</p>
            </div>
        </div>
    </div>
    <div class="bg-gray-900 flex justify-center items-center h-24">
        <span class="text-gray-200 font-thin px-4">© Copyright 2000 - 2023 Trillium. All Rights Reserved</span>
    </div>
</footer>