<header class="fixed top-0 w-full bg-[#0000] z-40 py-4 px-6 flex justify-end">
    <!-- <div class="flex justify-center items-center gap-2">
        <img class="w-12" src={logo} alt="">
        <span class="text-[#f2f2f2] text-lg md:text-xl font-bold">TRILLIUM</span>
    </div> -->
    <div id="toggler" class="flex cursor-pointer bg-[#000] px-3 py-2 rounded-lg">
        <svg class="w-6 md:w-7 font-thin leading-10 hover:scale-105" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#f2f2f2ee"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
    </div>
</header>